<div class="container-fluid">
  <div class="row">
    <app-left-sidebar class="col-md-1" style="background-color: #2e3e6b; height: 100vh"></app-left-sidebar>

    <div class="col-md-11 overflow-auto" style="background-color: #7f92b2; height: 100vh">
      <mat-card class="mt-4" style="background-color: white; color: black">
        <mat-card-title>New Invoice</mat-card-title>

        <!-- ITEMS INFORMATION -->
        <mat-card class="mx-2 my-4" style="background-color: white; box-shadow: 2px 2px 5px #999">
          <mat-card-title style="color: black">Items Information </mat-card-title>
        </mat-card>
        <!-- CLOSE ITEMS INFORMATION -->

        <mat-card class="mx-2 my-4" style="background-color: white; box-shadow: 2px 2px 5px #999; ">
          <div class="row">
            <div class="col-md-6 overflow-auto">
              <!-- PAYMENT INFORMATION -->
              <mat-card-title style="color: black">Information </mat-card-title>
              <div class="row">
                <div class="col-md-12 overflow-auto">
                  <mat-card class="mx-2 my-4" style="background-color: white; box-shadow: 2px 2px 5px #999">
                    <mat-card-title style="color: black">Payment Method</mat-card-title>
                    <div class="row">
                        <div class="col-md-6 overflow-auto">
                            <div class="col-md-12 overflow-auto">
                              <div class="mx-2 my-4" style="background-color: white; width: 30vh">
                                <div class="col-md-6 overflow-auto" style="color: black">
                                  <label for="colFormLabel" class="col-form-label mx-2">Total Bruto</label>
                                  <div class="col-sm-10 mx-2">
                                    <input class="form-control" id="colFormLabel" placeholder="0.00" disabled />
                                  </div>
                                </div>
                                <div class="col-md-6 overflow-auto" style="color: black">
                                  <label for="colFormLabel" class="col-form-label mx-2">Discounts</label>
                                  <div class="col-sm-10 mx-2">
                                    <input class="form-control" id="colFormLabel" placeholder="0.00" disabled />
                                  </div>
                                </div>
                                <div class="col-md-6 overflow-auto" style="color: black">
                                  <label for="colFormLabel" class="col-form-label mx-2">Subtotal</label>
                                  <div class="col-sm-10 mx-2">
                                    <input class="form-control" id="colFormLabel" placeholder="0.00" disabled />
                                  </div>
                                </div>
                                <div class="col-md-6 overflow-auto" style="color: black">
                                  <label for="colFormLabel" class="col-form-label mx-2">Total Neto</label>
                                  <div class="col-sm-10 mx-2">
                                    <input class="form-control" id="colFormLabel" placeholder="0.00" style="background-color: #D1E4FF ;" disabled />
                                  </div>
                                </div>
                              </div>
                            </div></div>
                        <div class="col-md-6 overflow-auto" >
                              <div class="col-md-8 overflow-auto">
                                <p class="my-4" style="color: black">Payment Method</p>
                                <select class="form-select " aria-label="Default select example">
                                  <option selected value="0">Select*</option>
                                  <option *ngFor="let paymentType of paymentTypes" [value]="paymentType.id">
                                    {{ paymentType.name }}
                                  </option>
                                </select>
                              </div>
                              <div class="col-md-9 overflow-auto" style="color: black">
                                <label for="colFormLabel" class="col-form-label" >Total forms of payment</label>
                                <div class="col-sm-11 ">
                                  <input class="form-control" id="colFormLabel" placeholder="0.00" style="background-color: #D1E4FF ;" disabled />
                                </div>
                              </div>
                              <div class="form-group my-4">
                                <label for="exampleFormControlTextarea1" style="color: black;">Observaciones</label>
                                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                              </div>
                        </div>

                    </div>

                  </mat-card>
                </div>
                <!-- CLOSE PAYMENT INFORMATION -->
              </div>
            </div>
            <div class="col-md-6 overflow-auto">
              <!-- INVOICE INFORMATION -->
              <mat-card class="mx-2 my-5" style="background-color: white; box-shadow: 2px 2px 5px #999; ">
                <mat-card-title style="color: black">Invoice Information </mat-card-title>
                <div class="row mx-2 my-4">
                  <div class="col-md-6 overflow-auto">
                    <p class="mx-2 my-4" style="color: black">Document Type</p>
                    <select class="mx-2 form-select" aria-label="Default select example">
                      <option selected value="0">Select*</option>
                      <option *ngFor="let docType of documentTypes" [value]="docType.id">
                        {{ docType.type }} - {{ docType.code }} - {{ docType.description }}
                      </option>
                    </select>
                  </div>
                  <div class="col-md-6 overflow-auto">
                    <p class="my-4" style="color: black">Customer*</p>
                    <input class="form-control" type="text" placeholder="Input" />
                  </div>
                </div>
                <div class="row mx-2 my-4">
                  <div class="col-md-6 overflow-auto" style="color: black">
                    <p class="mx-2" style="color: black">Date*</p>
                  </div>
                  <div class="col-md-6 overflow-auto" style="color: black">
                    <p style="color: black">Seller*</p>
                    <input class="form-control" type="text" placeholder="Input" />
                  </div>
                </div>
              </mat-card>
              <!-- CLOSE INVOICE INFORMATION -->
            </div>
          </div>
        </mat-card>

        <div class="example-button-container">
            <button mat-fab style="color:black; background-color:#7F92B2" aria-label="Example icon button with a delete icon">
              <mat-icon>save</mat-icon>
            </button>
          </div>
          <div class="example-button-container my-4">
            <button mat-fab style="color:black; background-color:#7F92B2" aria-label="Example icon button with a delete icon">
              <mat-icon>close</mat-icon>
            </button>
          </div>
      </mat-card>
    </div>
  </div>
</div>
