<div class="container-fluid">
  <div class="row">
    <app-left-sidebar class="col-md-1" style="background-color:#2E3E6B; height: 100vh"></app-left-sidebar>

    <div class="col-md-11 overflow-auto" style="background-color:#7F92B2; height:100vh">
      <div class="table">

        <mat-form-field  class="w-100" appearance="standard" style="background-color: white; color: black; ">
          <mat-label style="color: black">Filter</mat-label>
          <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium" #input style="color: black" />
        </mat-form-field>

        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

          <ng-container matColumnDef="paymentType">
            <th mat-header-cell *matHeaderCellDef>Payment Types</th>
            <td mat-cell *matCellDef="let element">{{ element.paymentType }}</td>
          </ng-container>

          <ng-container matColumnDef="documentName">
            <th mat-header-cell *matHeaderCellDef>Document Name</th>
            <td mat-cell *matCellDef="let element">
              <button class="" mat-icon-button (click)="openPDF(element.id)">
                <mat-icon class="" style="color: white; font-size:20px; ">picture_as_pdf</mat-icon>
              </button>
              {{ element.documentName }}
            </td>
          </ng-container>


          <ng-container matColumnDef="date">
            <th mat-header-cell *matHeaderCellDef>Date</th>
            <td mat-cell *matCellDef="let element">{{ element.date }}</td>
          </ng-container>

          <ng-container matColumnDef="customerIdentification">
            <th mat-header-cell *matHeaderCellDef>Customer Identification</th>
            <td mat-cell *matCellDef="let element">{{ element.customerIdentification }}</td>
          </ng-container>

          <ng-container matColumnDef="customerName">
            <th mat-header-cell *matHeaderCellDef>Customer Name</th>
            <td mat-cell *matCellDef="let element">{{ element.customerName }}</td>
          </ng-container>

          <ng-container matColumnDef="totalPrice">
            <th mat-header-cell *matHeaderCellDef>Total</th>
            <td mat-cell *matCellDef="let element">{{ element.totalPrice | currency }}</td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

          <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="4">No data matching the filter "{{ input.value }}"</td>
          </tr>
        </table>
        <mat-paginator [pageSizeOptions]="[20, 40, 50]"
                 showFirstLastButtons
                 aria-label="Select page">
  </mat-paginator>
      </div>
    </div>
  </div>
</div>
